*{
margin: ;
padding: ;
box-sizing: ;
}
body {
    background-color: black;
    /* Es para darle color al texto*/ 
    color: blueviolet;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;

}

h1 {
    color: red;

}
h2 {
    color: bisque;
}
p{
    color: #09f;
}
h3{
    color: blue;
}
h4{
    color: brown;
}
h5{
    color: aquamarine;
}
h6{
    color: blue;
}